html {
    font-size: 20px;
}

.parts {
}

.part {
    display: flex;
}

.exercise {
    border: 1px solid black;
    margin-right: 0.125rem;
}

.exerciseLabel {
    text-align: center;
    width: 100%;
    height: auto;
    font-weight: bold;
}

.subExercises {
    display: flex;
    height: 5rem;
    width: auto;
}

.subExercise {
    width: 1.5rem;
    display: grid;
    grid-template-rows: 3fr 3fr 4fr;
}

.subExerciseLabel {
    text-align: center;
    width: 100%;
    height: auto;
}

.pointField::-webkit-outer-spin-button, .pointField::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.pointField {
    -moz-appearance: textfield;
    padding: 0.125rem;
    text-align: center;
    margin: 0;
    width: 100%;
    height: auto;
}
