.part {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.exercise {
    border: 1px solid black;
    margin-right: 0.125rem;
}

.exerciseLabel {
    margin: 0;
    margin-left: 0.5rem;
    height: 1.125rem;
    padding: 0.125rem;
}

.subExercises {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.subExercise {
    position: relative;
    height: 2.25rem;
    width: 1.125rem;
}

.subExerciseLabel {
    text-align: right;
    padding-right: 0.125rem;
    height: 1.125rem;
    width: 1.125rem;
    position: absolute;
    top: 0;
}

.subExerciseSlider {
    display: none;
}

.pointField::-webkit-outer-spin-button, .pointField::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.pointField {
    position: absolute;
    -moz-appearance: textfield;
    padding: 0.125rem;
    text-align: end;
    margin: 0;
    height: 1.25rem;
    width: 1.125rem;
    top: 1.125rem
}
